/*去掉默认标签样式*/
body,h1,h2,h3,h4,h5,h6,p,pre,ul,ol,li,form,input,textarea,dl,dt,dd{
	margin:0;
	padding:0;
	list-style:none;
	font-weight:none;
	}
	*{
	margin:0;
	padding:0;
	}
	img{
	border:none;
	}
	ul ol{
	list-style:none;
	}
	a{
	text-decoration:none;
	}
body
	{
	background:#fff;
	}
	*{
	font-family:"微软雅黑";
	}