@import url(base.css);
/*页头*/
.head{
    width:100%;
    height:34px;
    background:#eee;
    margin-bottom:1px solid #fff;
}
.hdtop{
    width:1190px;
    height:100%;
    margin:0px auto;
}
.hdleft{
    list-style-type:none;
    float:left;
    height:34px;
    padding-left:4px;
    color:#d4d4d4;
    /*overflow:hidden;*/
}
.hdleft li{
    float:left;
    position:relative;
    /*z-index:500;*/
}
.hdleft li .yt_sy{
    display:block;
    float:left;
    line-height:34px;
    padding-left:27px;
    margin:0px 6px;
    color:#666;
    font-size:12px;
}
.yt_sy s{
    background-image:url("../images/header02.png");
    background-position:-225px 0px;
    background-repeat:no-repeat;
    position:absolute;
    top:7px;
    left:6px;
    z-index:2px;
    width:21px;
    height:21px;
    overflow:hidden;
}
.hdleft .line{
    float:left;
    width:0px;
    height:14px;
    line-height:14px;
    position:relative;
    top:10px;
    left:0px;
    font-size:0px;
    border-left:1px solid #ccc;
    margin:0px 4px;
}
.hdleft .head{
    width:79px;
    height:34px;
    position:relative;
}
.hdleft .wechat{
    width:79px;
    height:34px;
    position:relative;
    z-index:0;
}
.wechat a{
    width:40px;
    margin:0px;
    padding:0 6px 0 31px;
}
.wechat a{
    display:block;
    float:left;
    line-height:34px;
    padding:0 6px 0 31px;
    margin: 0px 6px;
    color:#666;
    font-style:normal;
    font-weight:normal;
    font-size:12px;
    position:absolute;
    z-index:99;
}
.wechat a s{
    background-image:url("../images/header02.png");
    background-position:-225px -57px;
    background-repeat:no-repeat;
    position:absolute;
    top:7px;
    left:6px;
    z-index:2px;
    width:21px;
    height:21px;
    overflow:hidden;
}
.wechat a .b{
    position:absolute;
    left:62px;
    top:16px;
    width:9px;
    height:5px;
   /* overflow:hidden;*/
    background-image:url("../images.header02.png");
    background-position:-175px -111px;
    background-repeat:no-repeat;
    background-attachment:scroll;
    /*background-color:transparent;*/
}
.wechat .h_head{
    position:absolute;
    top:0px;
    left:0px;
    width:124px;
    height:153px;
    background:#fff;
    z-index:20;
    box-shadow:0 0 8px #cdcdcd;
    display:none;
}
#wechat img{
    margin:34px auto;
    border:0px;
}
.hdleft #sj_yt{
    width:148px;
    height:34px;
    z-index:502;
}
#sj_yt .sjyt{
    width:148px;
    height:34px;
    position:relative;
    z-index:99;
}
.sjyt .p_sj{
    display:block;
    width:72px;
    margin:0px;
    padding-left:28px;
    line-height:34px;
    color:#666;
    font-size:12px;
}
.p_sj s{
    position:absolute;
    top:7px;
    left:6px;
    z-index:2;
    width:21px;
    height:20px;
    background-image:url("../images/phone.png");
    background-repeat:no-repeat;
    background-position:center 0px;
}
.p_sj .blank{
    width:147px;
    height:8px;
    position:absolute;
    bottom:0px;
    left:0px;
    z-index:1;
    background-color:red;
    overflow:hidden;
}
#sj_yt #appma{
    position:absolute;
    top:0px;
    left:0px;
    width:134px;
    height:179px;
    background:#fff;
    padding:8px 7px 10px;
    box-shadow:0 0 8px #cdcdcd;
}
#sj_yt .h_head{
    display:none;
    position:absolute;
    top:0px;
    left:0px;
    width:134px;
    height:179px;
    background:#fff;
    padding:8px 7px 10px;
    box-shadow:0 0 8px #cdcdcd;
    z-index:1;
}
#appma a{
    display:block;
    padding-left:0px;
}
#appma a img{
    vertical-align:top;
    width:134px;
    height:145px;
    border:0px;
    margin:34px auto;
}
/*hdlogo顶部导航*/
.hdright{
    float:right;
    height:34px;
}
.hdright li{
    list-style-type:none;
    float:left;
}
.hdright .hi{
    float:left;
    line-height:34px;
    margin-left: 10px;
    color:#666;
    font-style:normal;
    font-weight:normal;
    font-size:12px;
    text-align: center;
    vertical-align:middle;
}
.hdright span{
    font-size:12px;
    color:#ccc;
    line-height:34px; 
    margin-left:10px;
}
.ytk{
    width:63px;
}
.hdright a{
    float:left;
    line-height:34px;
    margin-left: 10px;
    color:#666;
    font-style:normal;
    font-weight:normal;
    font-size:12px;
    text-align: center;
    vertical-align:middle;
}
.head a:hover{
    color:#e5004f;
}
.hdleft img:hover{
    color: #e5004f;
}
.yt_myhome{
    position:relative;
    width:86px;
}
.yt_myhome .yt-home{
    display:block;
    position:absolute;
    top:0px;
    z-index:999;
}
.yt-myhome .blank{
    font-size:12px;
    color:#ccc;
    line-height:34px; 
    margin-left:80px;
    /*position:absolute;
    right:0px;
    top:0px;*/
}
.yt-myhome .xz{
    width:0px;
    height:0px;
    border-left:5px solid #ededed;
    border-right:5px solid #ededed;
    margin-left:60px;
}
.yt_home{
    width:54px;
    height:26px;
    float:left;
    padding:0px 8px 0px;
    color:#666;
}
.yt_myhome .myhome{
    height:215px;
    position:absolute;
    top:0px;
    left:0px;
    clear:both;
    width:82px;
    box-shadow:0 0 8px #cdcdcd;
    background:#fff;
    display:none;
    z-index:888;
}
.myhome .yt_link{
    height:180px;
    clear:both;
    position:absolute;
    bottom:0px;
    left:0px;
}
.yt_link .ys{
    height:26px;
    line-height:13px;
    border-bottom:1px solid #dcdcdc;
    padding:3px 3px 0px 2px;
}
.yt_link .fist{
    height:35px;
    line-height:40px;
    border-bottom:0px;
}
.yt_link .first a{
    border-bottom:0px;
}
.yt_link .last{
    border-bottom:0px;
}
.yt_link .ys a{
    display:block;
    color:#666;
    font-size:12px;
    line-height:20px;
    text-decoration:none;
    text-align:center;
}
.yt_link .ys a:hover{
    color:#e5004f;
    text-decoration:underline;
}
/*奥运图*/
.ay{
    width:100%;
    height:80px;
}
.ay a{
    display:block;
}
.ay img{
    width:100%;
    height:100%;
}
/*logo图*/
.lg{
    width:1190px;
    height:120px;
    margin:0px auto;
    position:relative;
}
.lg .logo a {
    display:block;
}
.logo .inine img{
    width:220px;
    height:120px;
    float:left;
}
.logo .p_img img{
    width:135px;
    height:120px;
    float:left;
}
.logo .line{
    float:left;
    width:0px;
    height:70px;
    margin:25px 10px 0px;
    line-height:70px;
    overflow:hidden;
    border-left:1px solid #efefef;
}
.logo .inline{
    display:inline;
}
.logo_right{
    width:676px;
    height:120px;
    float:right;
}
.lgss{
    width:498px;
    height:60px;
    float:left;
}
.logo_ss{
    width:493px;
    height:32px;
    border: 1px solid #323333;
    float:left;
    margin-top: 44px;
    margin-bottom:5px;
}
.logo_ss input{  
    padding-left:5px;
    line-height:30px;
    vertical-align: middle;
    border:none;
    font-size:12px;
    outline:none;
}
.lgss .logo_ss a{
    display:block;
}
.lgss .logo_ss a img{
    width:46px;
    height:34px;
    position:absolute;
    right:180px;
    top:44px;
}
.lgss img{
    display:block;
    float:right;
}
.dj a{
    float:left;
    margin-right: 12px;
    color:#888;
    font-size:12px;
    font-family:normal;
    font-style:normal;
}
.dj .p_color{
    color:#e5004f;
}
.dj a:hover{
    color:#e5004f;
    text-decoration:underline;
}
.hwc{
    width:160px;
    height:34px;
    float:right;
    margin-top:44px;
    background:#323333;
}
.hwc a{
    display:block;
}
.hwc a img{
    width:46px;
    height:34px;
    float:left;
}
.hwc span{
    float:left;
    height:34px;
    line-height:34px;
    padding-left:5px;
    color:#fff;
    font-size:12px;
}
.hwc span strong{
    font-size:12px;
    color:#e5113f;
}
.hwc b{
    font-weight:bold;
    float:right;
    margin-right:20px;
    margin-top:16px;
    width:7px;
    overflow:7px;
}
.item .a{
    background:#ccc;
}
/*banner图*/
.bn{
    width:100%;
    height:510px;
    margin:0px auto 40px;
    position:relative;
}
.sdh{
    width:940px;
    height:39px;
    margin:0px auto;
    margin-right:80px;
    position:relative;
}
.sdhz li{
    list-style-type:none;
    width:60px;
    height:38px;
    line-height:38px;
    text-decoration:none;
    text-align:center;
    margin-left:20px;
    margin-right:10px;
    float:left;
    position:relative;
}
.sdhz li a{
    display:block;
    width:60px;
    height:38px;
    font-style:normal;
    font-weight:400px;
    line-height:38px;
    font-size:16px;
    color:#323333;
    text-align:center;
    position:absolute;
    left:0px;
    top:0px;
}
.sdhz li a .txt{
    width:80px;
    height:38px; 
}
.info{
    width:80px;
    height:5px;
    background:#e5004f;
    color:#fff;
    position:absolute;
    left:0px;
    top:40px;
    transition:top 0.5s;
}
.sdhz li a:hover .txt{
    color:#e5004f;
}
.sdhz li a:hover .info{
    top:35px;
}
.sdhs a{
    float:right;
    overflow:hidden;
    font-style:normal;
    font-weight:400px;
    line-height:39px;
    font-size:14px;
    color:#666;
    text-align:center;
    margin-right:15px;
    margin:0px 8px;
}
.sdhs span{
    font-size:14px;
    line-height:39px;
    float:right;
    color:#666;
}
.sdhs a:hover{
    color:#e5004f;
}
.banner{
    width:100%;
    height:470px;
    border-top:1px solid #222;
    margin:0px auto 40px;
    float:left;
}
.banner .p_beijing{
    width:100%;
    height:470px;
    z-index:-100;
    position:absolute;
    left:0px;
    top:40px;
/*  background:green;*/
   /* background-image:url("../images/banner1.jpg");
    background-size:100% 470px;
    background-position:center center;
    background-repeat:no-repeat;*/
}
.banner .p_beijing img{
    width:100%;
    height:470px;
    position:absolute;
    left:0px;
    top:0px;
}
.banner .p_beijing .img{
    z-index:2;
}
.banner #banner{
    width:1190px;
    height:470px;
    margin:0px 0px 40px 40px;
}
#banner .ban_img a{
    display:block;
}
#banner .ban_img{
    width:1190px;
    height:470px;
    position:absolute;
    left:80px;
    right:0px;
}
#banner .img{
    z-index:2;
}
#banner .ban_img a img{
    width:1190px;
    height:470px;
}
.banner .p_cuboid{
    width:155px;
    height:8px;
    position:absolute;
    bottom:10px;
    left:0px;
    right:0px;
    margin-left:auto;
    margin-right:auto;
    z-index:200;
}
.p_cuboid .cuboid{
    width:30px;
    height:8px;
    background:#211616;
    line-height:8px;
    float:left;
    margin-right:1px;
    cursor:pointer;
}
.p_cuboid .cuboid1{
    width:30px;
    height:8px;
    background:#e5004f;
    line-height:8px;
    float:left;
    margin-right:1px;
}
.banner .btn-left{
    width:30px;
    height:60px;
    background:rgba(120,121,125,0.5);
    font-size:45px;
    position:absolute;
    top:220px;
    left:290px;
    color:#fff;
    font-weight:100;
    text-align:center;
    line-height:60px;
    cursor:pointer;
    z-index:100;
    opacity:0;
    font-family:simsun;
}
.banner .btn-left:hover{
    color:#fff;
    background:#e5004f;
}
.banner .btn-right{
    width:30px;
    height:60px;
    background:rgba(120,121,125,0.5);
    font-size:45px;
    position:absolute;
    top:230px;
    right:282px;
    color:#fff;
    font-weight:100;
    text-align:center;
    line-height:60px;
    cursor:pointer;
    z-index:100;
    opacity:0;
    font-family:simsun;
}
.banner .btn-right:hover{
    color:#fff;
    background:#e5004f;
}
.da{
    width:202px;
    height:470px;
    position:absolute;
    right:80px;
    z-index:80;
}
.da a{
    display:block;
}
.da img{
    width:202px;
    height:470px;
    display:block;
}
.da img:hover{
    position:absolute;
    left:10px;
}
.jtz{
    width:30px;
    height:60px;
    background:#6c6969;
    float:left;
    font-size:45px;
    font-weight:bold;
    text-align:center;
    vertical-align:middle;
    line-height:60px;
    margin:0px;
    padding:0px;
    position:absolute;
    right:0px;
    left:210px;
    top:210px;
    bottom:0px;
    display:inline-block;
    z-index:1000;
   /* visibility:hidden;*/
}
.jty{
    width:30px;
    height:60px;
    background:#6c6969;
    float:right;
    font-size:45px;
    font-weight:bold;
    text-align:center;
    vertical-align:middle;
    line-height:60px;
    margin:0px;
    padding:0px;
    position:absolute;
    right:0px;
    left:1040px;
    top:260px;
    bottom:0px;
    display:inline-block;
    z-index:1000;
   /* visibility:hidden;*/
}
.jt a:hover{
   /* visibility:visible;*/
    color:#e5004f;
}
.sdhz li a span{
    display:block;
    float:left;
    height:39px;
    left:335px;
    padding:10px 10px 0px;
}
/*下侧导航*/
.xdh{
    width:210px;
    height:510px;
    background:#333333;
    float:left;
    margin-left:80px;
    position:absolute;
    bottom:0px;
    left:0px;
    z-index:20;
}
.xdh .fl{
    width:210px;
    height:40px;
    background:#222222;
    position:absolute;
    left:0px;
    top:0px;
    text-align:center;
}
.xdh .fl .qb{
    color:#fff;
    line-height:40px;
    font-size:18px;
    font-style:normal;
    font-weight:400;
} 
.xq{
    width:100%;
    height:470px;
    background:#333333;
    position:relative;
    top:40px;
}
.xq .dl{
    display:block;
    width:100%;
    height:46px;
    border-bottom: 1px solid #515151;
}
.dl a{
    display:block;
}
.dl .dt a img{
    float:left;
    width:14px;
    height:14px;
    margin-right:0px;
}
.dl .dt a{
    height:20px;
    display:block;
    font-size:16px;
    font-weight:400;
    font-style:normal;
    line-height:46px;
    float:left;
    color:#fff;
    text-align:center;
}
.dt i{
    width:0px;
    height:16px;
    float:left;
    line-height:16px;
    position:relative;
    top:15px;
    left:0px;
    overflow:hidden;
    border-left:1px solid #999;
    margin:0px 8px;
}
.dl .dt1 a{
    display:block;
    height:20px;
    display:line;
    font-size:12px;
    font-style:normal;
    font-weight:400;
    line-height:46px;
    color:#fff;
    margin-right:5px;
    margin-left:0px;
}
.dt1 span{
     float:right;
     margin-right:10px;
     margin-top:12px;
     font-size:18px;
     color:#fff;
    }
.dt1 a:hover{   
    text-decoration:underline;
}
.xq dl:hover{
    background:#e5004f;
}
.dt img{
    display:block;
    width:16px;
    height:16px;
    padding-left:14px;
    padding-top:16px;
    padding-right:9px;
}
.dd{
    position:absolute;
    left:210px;
    top:0px;
    display:none;
}
.dd .subz{
    width:495px;
    height:420px;
    background:#515151;
    float:left;
    padding-bottom:10px;
    letter-spacing:0;/*字间空格*/
    opacity:0.97;
    filter:alpha(opacity=97);
    /*display:none;*/
}
/*二层女装特殊样式*/
.yt_nz .dd{
    position:absolute;
    top:40px;
    left:210px;
}
/*八层配饰特殊样式*/
.dd .ps{
    height:390px;
}
.yt_ps .dd .subz .yt_s{
    height:370px;
}
/*十层内衣特殊样式*/
.dd .d_subz{
    height:379px;
}
.yt_subz .dd .subz .yt_d_subz{
    height:359px;
}
.yt_subz .dd{
    position:absolute;
    top:68px;
    left:210px;
}
/*以上的十层的特殊样式*/
.dd .subz .sort_list{
    width:295px;
    height:412px;
    float:left;
    padding:8px 20px 0px;
}
.sort_list .list_li{
    height:39px;
    padding:8px 0px 7px 0px;
    line-height:20px;
    border-bottom:1px dotted #666;
}
.sort_list .list_lie{
    height:60px;
    padding:8px 0px 7px 0px;
    line-height:20px;
    border-bottom:1px dotted #666;
}
.list_li h3{
    width:295px;
    float:left;
    font-size:14px;
    text-align:left;
    font-weight:400;
    color:#fff;
}
.list_li h3 a{
    color:#fff;
}
.sort_list .list_lie h3{
    width:295px;
    float:left;
    font-size:14px;
    text-align:left;
    color:#fff;
    font-weight:400;
}
.sort_list .list_lie h3 a{
    color:#fff;
}
.list_li p{
    width:295px;
}
.list_li p .yt_color{
    color:#e5004f;
}
.list_li p a{
    margin-right:10px;
    display:inline;
    float:left;
    white-space:nowrap;
    font-size:12px;
    color:#fff;
}
.list_lie p{
    width:295px;
}
.list_lie p .yt_color{
    color:#e5004f;
}
.list_lie p a{
    margin-right:10px;
    display:inline;
    float:left;
    white-space:nowrap;
    font-size:12px;
    color:#fff;
}
.sort_list p a:hover{
    color:#e5004f;
}
.sort_list h3 a:hover{
    color:#e5004f;
}
.sort_list .none{
    border-bottom:0px;
}
.dd .subz .sort_barnd{
    width:145px;
    height:400px;
    float:left;
    padding:15px 0px 15px 15px;
    background:rgba(0,0,0,0.5);
}
.sort_barnd h3{
    width:138px;
    height:26px;
    margin-bottom:5px;
    text-align:left;
    font-size:14px;
    color:#fff;
    line-height:26px;
    border-bottom:1px dotted #666;
    font-weight:400;
}
.sort_barnd h3 a{
    color:#fff;
    font-size:14px;
}
.sort_barnd p{
    width:126px;
}
.sort_barnd p a{
    margin-right:10px;
    font-size:12px;
    color:#fff;
    display:inline;
    float:left;
    white-space:nowrap;
    height:24px;
    line-height:24px;
    font-weight:1.5;
}
.sort_barnd p a:hover{
    color:#e5004f;
}
/*鞋靴里不一样的布局*/
.sort_list .list_li1{
    height:20px;
    padding:8px 0px 7px 0px;
    line-height:10px;
    border-bottom:1px dotted #666;
}
.list_li1 p{
    width:130px;
}
.list_li1 p a{
    font-size:12px;
    margin-right:10px;
    color:#fff;
    display:inline;
    float:left;
    text-align:left;
    white-space:nowrap;
    line-height:20px;
    height:20px;
}
.list_li1 p a:hover{
    color:#e5004f;
}
/*美妆和运动Css*/
.dd_yd{
    position:absolute;
    left:210px;
    top:0px;
    /*display:none;*/
}
.dd_yd .subz{
    width:495px;
    height:460px;
    background:#515151;
    float:left;
    padding-bottom:10px;
    letter-spacing:0;
    opacity:0.97;
    filter:alpha(opacity=97);在IE里面会显示该元素以及子元素也添加了透明度，设置滤镜
}
.dd_yd .subz .sort_list{
    width:295px;
    height:452px;
    float:left;
    padding:8px 20px 0;
}
.sort_list .list_li3{
    height:80px;
    padding:8px 0px 7px 0px;
    line-height:20px;
    border-bottom:1px dotted #666;
}
.list_li3 h3{
    width:295px;
    float:left;
    font-size:14px;
    text-align:left;
    font-weight:400;
}
.list_li3 h3 a{
    color:#fff;
}
.list_li3 p{
    width:295px;
}
.list_li3 p a{
    margin-right:10px;
    display:inline;
    float:left;
    white-space:nowrap;
    font-size:12px;
    color:#fff;
    text-align:left;
}
.list_li3 p .yt_color{
    color:#e5004f;
}
.dd_yd .subz .sort_barnd{
    width:145px;
    height:440px;
    padding:15px 0px 15px 15px;
    float:left;
    background:rgba(0,0,0,0.5);
}
/*右侧导航*/
/*.fixed{
    width:50px;
    height:549px;
    position:fixed;
    right:10px;
    bottom:-5px;
} 
.fixed a{
    display:block;
    width:50px;
    height:50px;
    margin-bottom:5px;
}
.fixed a img{
    width:50px;
    height:50px;
}
.fixed a img:hover{
    background-image:none;
    opacity:0;
}
#mao10 img{
    opacity:1;
}
.fixed a span{
    display:block;
    width:50px;
    height:50px;
    font-size:14px;
    vertical-align:50px;
    text-align:center;
    line-height:24px;
    overflow:hidden;
    position:absolute;
    opacity:0;
}
.fixed span:hover{
    color:#fff;
    background-color:#e5004f;
    opacity:1;
}*/
.float_nav{
    width:50px;
    height:545px;
    position:fixed;
    left:50%;
    bottom:20px;
    margin-left:600px;
    display:none; 
}
.float_nav .yt_floor_mp{
    background-position:0px 0px;
}
.float_nav .yt_floor_cl{
    background-position:0px -55px;
}
.float_nav .yt_floor_jp{
    background-position:0px -110px;
}
.float_nav .yt_floor_sh{
    background-position:0px -165px;
}
.float_nav .yt_floor_xb{
    background-position:0px -220px;
}
.float_nav .yt_floor_mr{
    background-position:0px -275px;
}
.float_nav .yt_floor_yd{
    background-position:0px -330px;
}
.float_nav .yt_floor_ny{
    background-position:0px -385px;
}
.float_nav .yt_floor_ka{
    background-position:0px -440px;
}
.float_nav .yt_floor_fh{
    background-position:0px -495px;
}
.float_nav a{
    display:block;
    width:30px;
    height:30px;
    margin-bottom:5px;
    padding:5px 10px 15px;
    background:url("../images/floor_nav.png");
    background-position:0px 0px;
    background-repeat:no-repeat;
    overflow:hidden;
    line-height:15px;
    color:#fff;
    font-size:14px;
    text-align:center;
}
.float_nav a:hover{
    line-height:18px;
    background:#e5004f;
    color:#fff;
    font-size:14px;
    text-align:center;
}
/*特卖专区*/
.tm{
    width:1200px;
    height:321px;
    margin:0px auto 40px;
    position:relative;
}
.tmtop{
    width:920px;
    height:46px;
    border-bottom:5px solid #333;
    margin-bottom:10px;
    float:left;
}
.tmtop li a{
    display:block;
    width:60px;
    height:46px;
    color:#666;
    list-style-type:none;
    font-style:normal;
    font-weight:normal;
    font-size:14px;
    float:left;
    margin-left:125px;
    margin-right:110px;
    line-height:46px; 
}
.tmtop li .h_right{
    margin-left:150px;
    margin-right:60px;
}
.tmtop .ht{
    width:306px;
    height:8px;
    background-image:url("../images/ht.jpg");
    position:absolute;
    left:0px;
    top:43px;
    transition:top:0.5s;
    display:none;
}
.tmtop ul li a:hover .ht{
    display:block;
    top:43px;
}
.tmtop .ht1{
    width:306px;
    height:8px;
    background-image:url("../images/ht.jpg");
    position:absolute;
    left:295px;
    top:43px;
    float:left;
    transition:top:0.5s;
    display:none;
}
.tmtop ul li a:hover .ht1{
    display:block;
    top:43px;
}
.tmtop .ht_2{
    width:306px;
    height:8px;
    background-image:url("../images/ht.jpg");
    position:absolute;
    left:615px;
    top:43px;
    float:right;
    transition:top:0.5s;
    display:none;
}
.tmtop ul li a:hover .ht_2{
    display:block;
    top:43px;
}
.tmt{
    width:920px;
    height:260px;
    float:left;
    position:absolute;
    left:0px;
    top:61px;
    /*display:none;*/
}
.tmt .p_m{
    display:block;
}
.tmt .mp2_t{
    width:218px;
    height:258px;
    margin-right:10px;
    border:1px solid #eee;
    position:relative;
    float:left;
}
.tmt .mp2_t a{
    display:block;
}
.tmt .mp2_t a img{
    width:218px;
    height:258px;
    position:absolute;
    left:0px;  
}
.tmt img:hover{
    opacity:0.6;
}
#tmt{
    width:270px;
    height:300px;
    position:absolute;
    right:0px;
    bottom:0px;
}
#tmt a{
    display:block;
}
#tmt img{
    width:270px;
    height:300px;   
}
/*专柜同款*/
.tk{
    width:1189px;
    height:620px;
    margin:0px auto 40px;
    position:relative;
}
.tk .xzq{
    width:1189px;
    height:33px;
    float:left;
}
.tk .xzq ul{
    display:inline;
}
.tk .xzq ul .p_color a{
    list-style-type:none;
    font-style:normal;
    font-weight:bold;
    font-size:30px;
    line-height:30px;
    margin-bottom:12px;
    float:left;
    color:#353535;
}
.tk .xzq ul .color a{
    color:#e5004f;
}
.tk .xzq span{
    font-size:28px;
    line-height:28px;
    margin-left:5px;
    margin-right:5px;
    font-weight:normal;
    float:left;
    color:#ccc;
}
.yw a{
    font-variant:small-caps;
}
.yw a p{
    font-size:30px;
    font-style:normal;
    line-height:16px;
    color:#808080;
}
.tk .tpq{
    width:1189px;
    height:575px;
    border:1px solid #eee;
    position:absolute;
    bottom:0px;
    left:0px;
}
.tpqz{
    width:360px;
    height:575px;
    float:left;
}
.tpqz a{
    display:block;
}
.tpqz img{
    height:555px;
    width:340px;
    float:left;
    margin:10px;
}
.tpqs{
    width:826px;
    height:575px;
    float:right;
    position:relative;
   /* background:green;*/
}
.tp_xt{
    width:816px;
    height:45px;
    border-bottom:3px solid #333;
    position:relative;
}
.tp_xt .xt{
    position:absolute;
    left:0px;
    top:0px;
}
.xt li{
    width:102px;
    height:35px;
    float:left;
    text-align:center;
    position:relative;
    color:#414141;
    line-height:35px;
    font-size:14px;
    padding-top:10px;
}
.xt .p_xt{
    border-bottom:3px solid #e70050;
    /*display:none;*/
}
.xt a{
    font-style:normal;
    font-weight:normal;
    font-size:14px;
    line-height:35px;
    color:#666;
    text-align:center; 
}
.xt li span{
    background-image:url("../images/yt_ico0.png");
    background-repeat:no-repeat;
    background-position:0px -16px;
    background-size:auto auto;
    background-color:transparent;/*透明色*/
    background-attachment:scroll;/*随滚动轴的移动方式*/
    height:4px;
    left:51px;
    /*overflow:hidden;*/
    position:absolute;
    top:41px;
    width:7px;
    display:none;
}
/*.p_xt a:hover{
    color:#414141;
}*/
.tpqs .tps{
    width:826px;
    height:528px;
    position:absolute;
    left:0px;
    bottom:0px;
    display:none;
}
.tpqs .tpy{
    width:826px;
    height:518px;
    position:absolute;
    left:0px;
    bottom:10px;
    display:none;
}
.tpy .mp2_t{
    width:198px;
    height:248px;
    border:1px solid #eee;
    margin-right:6px;
    margin-top:8px;
    position:relative;
    float:left;
}
.tpy .mp2_t .rem{
    width:198px;
    height:200px;
    margin:0px auto; 
}
.tpy .mp2_t .rem a{
    display:block;
}
.tpy .mp2_t .rem a img{
    width:150px;
    height:200px;
    margin:0px auto;
}
.tpy .mp2_t .pro_content{
    width:188px;
    height:38px;
    padding:5px;
}
.mp2_t .pro_title{
    height:20px;
    overflow:hidden;
}
.pro_title a{
    text-decoration:underline;
    color:#323232;
    font-size:12px;
    line-height:1.5;
    font-weight:normal;
}
.mp2_t .pro_cf{
    position:relative;
}
.pro_cf .yt_price{
    color:#e5004f;
    font-size:12px;
    font-weight:normal;
    line-height:1.5;
}
.pro_cf .sc_price{
    text-decoration:line-through;
    font-size:12px;
    font-weight:normal;
    line-height:1.5;
    position:absolute;
    top:2px;
    right:5px;
    color:#a7a7a7;
}
.tpqs .tps a{
    display:block;
}
.tps a img{
    float:left;
    margin-right:5px;
    margin-top:4px;
}
.tps a .p_tp{
    width:220px;
    height:250px;
}
.tps a .p_tp1{
    width:365px;
    height:250px;
}
.tps a .p_tp3{
    width:290px;
    height:260px;
}
.tps a .p_tp4{
    width:240px;
    height:260px;
}
.tps a .p_tp5{
    width:275px;
    height:260px;
}
.tps img:hover{
    opacity:0.5;
}
/*中间banner图*/ 
.zjbanner{
    width:1190px;
    height:80px;
    margin:40px auto;
}
.zjbanner a{
    display:block;
}
.zjbanner img{
    width:1190px;
    height:80px;
}
/*页中*/ 
.yz{
    width:1190px;
    height:415px;
    margin:0px auto 40px;
    position:relative;
}
.yzs{
    width:1190px;
    height:44px;
}
.yzs ul .p_color a{
    list-style-type:none;
    font-style:normal;
    font-weight:bold;
    font-size:30px;
    line-height:30px;
    margin-bottom:12px;
    float:left;
    color:#353535;
}
.yzs ul .color a{
    font-variant:small-caps;
}
.yzs span{
    font-size:28px;
    line-height:28px;
    margin-left:5px;
    margin-right:5px;
    font-weight:normal;
    float:left;
    color:#ccc;
}
.yzy p{
    font-size:20px;
    font-style:normal;
    line-height:16px;
    color:#808080;
}
.xf{
    width:1190px;
    height:372px;
    position:relative;
}
.zt{
    width:228px;
    height:370px;
    border:1px solid #eee;
    margin-right:8px;
    float:left;
    }
.xf .zt .xfk{
    width:211px;
    height:145px;
    margin-top:16px;
    margin-bottom:40px;
    margin-left:8px;
    margin-right:9px;
    float:left;
    
}
.xf .zt .nbzt{
    list-style-type:none;
    width:65px;
    height:32px;
    border:1px solid #eee;
    float:left;
    margin-right:3px;
    margin-bottom:3px; 
    display:inline;
}
.nbzt a{
    display:block;
    width:65px;
    height:32px; 
    font-size:14px;
    text-align:center;
    line-height:32px;
    font-style:normal;
    font-weight:normal; 
    color:#666;
}
.nbzt a:visited{
    color:#666;
}
.nbzt a:hover{
    color:#fff;
    background-color:#e5004f;
}
.sft{
    width:200px;
    height:140px;
    border-top:1px dashed #969696;
    margin-bottom:10px;
    float:left;
    margin-left:14px;
    margin-right:14px;
    background:#f2f2f2;
}
.floorbarnd{
    width:200px;
    height:140px;
    background:#f2f2f2;
    border-top:1px dashed #969696;
    margin-left:15px;
    margin-bottom:10px;
    float:left;
    position:relative;
}
.floorbarnd .scroller{
    width:160px;
    height:116px;
    margin:0 auto;
    margin-top:15px;
    position:relative;
    overflow:hidden;
}
.floorbarnd .scroller .eva_banner{
    position:absolute;
    width:1020px;
    height:116px;
    left:0px;
    top:0px;
}
.scroller .eva_banner div{
    width:170px;
    height:116px;
    float:left;
}
.scroller .eva_banner div a{
    margin:2px 5px 5px 2px;
    display:block;
    float:left;
}
.scroller .eva_banner div a img{
    width:75px;
    height:50px;
}
.floorbarnd .pre{
    display:block;
    width:14px;
    height:139px;
    position:absolute;
    left:5px;
    top:0px;
    cursor:pointer;
}
.floorbarnd .pre1{
    display:block;
    width:14px;
    height:139px;
    position:absolute;
    right:5px;
    top:0px;
    cursor:pointer;
}
.m_lunbo{
    width:390px;
    height:370px;
    border:1px solid #eee;
    float:left;
    position:relative;
    left:0px;
    top:0px;
    overflow:hidden;
}
.m_lunbo .mp1{
    width:390px;
    height:370px;
    position:absolute;
    left:0px;
    top:0px;
}
.mp1 .yt-mp{
    width:390px;
    height:370px;
    position:absolute;
    left:100%;
    top:0px;
}
.mp1 .img{
   left:0px;
}
.mp1 .yt-mp a{
    display:block;
}
.mp1 .yt-mp a:hover{
    opacity:0.8;
    filter=alpha(opacity=80);
}
.m_lunbo .p_circle{
    width:40px;
    height:12px;
    position:absolute;
    left:175px;
    bottom:8px;
    margin-left:20px;
}
.m_lunbo .circle{
    width:12px;
    height:12px;
    background:#818181;
    border-radius:50%;
    float:left;
    margin-right:5px;
    line-height:12px;
    cursor:pointer;
}
.m_lunbo .first{
    background:#e5004f;
}
.xf .yt-left{
    width:25px;
    height:50px;
    background:rgba(120,121,125,0.5);
    position:absolute;
    left:0px;
    top:165px;
    font-size:36px;
    font-weight:none;
    line-height:50px;
    text-align:center;
    color:#fff;
    z-index:10;
    cursor:pointer;
    opacity:0;
    font-family:simsun;
    filter=alpha(opacity=0);
}
.xf .yt-left:hover{
    background:#e5004f;
}
.xf .yt-right{
    width:25px;
    height:50px;
    background:rgba(120,121,125,0.5);
    position:absolute;
    right:0px;
    top:165px;
    font-size:36px;
    font-weight:none;
    line-height:50px;
    text-align:center;
    color:#fff;
    z-index:10;
    cursor:pointer;
    opacity:0;
    font-family:simsun;
    filter=alpha(opacity=0);
}
.xf .yt-right:hover{
    background:#e5004f;
}
.mp1 a{
    display:block;
}
.mp1 a img{
    width:390px;
    height:370px;
    float:left;
}
.mp2{
    width:560px;
    height:372px;
    float:left;
    position:absolute;
    left:634px;
    top:0;
}
.mp2 .mp2_t{
    width:270px;
    height:180px;
    margin-left:6px;
    margin-bottom:4px;
    float:left;
    border:1px solid #eee;
    position:relative;
    left:0px;
    top:0px;
}
.mp2_t a{
    display:block;
}
.mp2_t a img{
    display:block;
    width:270px;
    height:180px;

}
.mp2_t img:hover{
    opacity:0.6;
}
/*服务区*/
.kj{
    width:1190px;
    height:167px;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    border-left:1px solid #eee;
    margin:0px auto 40px;
}
.kj a{
    display:block;
}
.kj a img{
    height:167px;
    border-right:1px solid #eee;
    float:left;
}
.kj a .kj1{
    width:395px;
}
.kj a .kj2{
    width:396px;
}
.kj a img:hover{
    opacity:0.8;
    filter=alpha(opacity=80);
}
/*客服区*/
.kf{
    width:1190px;
    height:88px;
    border-left:1px solid #eee;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    margin:0px auto 40px;
}
.kf img{
    border-right:1px solid #eee;
    float:left;
}
.kf .p_kf{
    width:328px;
}
/*客服区*/
.fwq{
    width:1190px;
    height:160px;
    margin:0px auto 18px;
}
.fwq .gyyt{
    display:block;
    margin:0px auto 30px;
    text-align:center;
    font-size:12px;
}
.fwq .gyyt a{
    margin-left:5px;
    margin-right:5px;
    color:#757575;
    font-size:12px;
    line-height:12px;
}
.fwq .gyyt a:hover{
    color:#e5004f;
}
.fwq .hu{
    display:block;
    margin:0px auto 10px;
    text-align:center;
}
.fwq .hu a{
    margin-left:5px;
    color:#b2b2b2;
    font-size:12px;
    line-height:12px;
}
.fwq .Yt{ 
    display:block;
    margin:0px auto 10px;
    text-align:center;
}
.Yt p{
    color:#b2b2b2;
    font-size:12px;
}
.xr{
    display:block;
    text-align:center;
}